:root{
  --white:#F2F7FB;
  --black: #0C0C0D;
}

body{
  width: 100%;
  min-height: 100vh;
  background-color: #181818;
}

*{
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--white) var(--black);
}

::selection {
  color: var(--white);
  background: var(--black);
}

::-webkit-scrollbar {
  width: 9px;
  background: var(--black);
  height: 9px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(225.13deg, var(--black) 1.83%, var(--white) 90.04%);
  border-radius: 7px;
}

::-webkit-scrollbar-corner {
  background:var(--black);
}